<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img id="img_detail" class="card-img-top mb-5 mb-md-0" src="<%= @product.image %>?width=400" onerror="img_detail_standby()" /></div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: <%= @product.sku %></div>
        <h1 class="display-5 fw-bolder"><%= @product.title %></h1>
        <div class="fs-5 mb-5">
          <span>Price: <%= @product.price.to_i %> ₫</span> <br>
          <span>Quantity: <%= @product.quantity %> </span>
        </div>
        <div class="d-flex">
          <table>
            <td> <%= link_to "Edit", edit_product_path, class: "btn btn-outline-dark flex-shrink-0" %> </td>
            <td> <%= link_to "Remove", @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark flex-shrink-0" %> </td>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
